<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>invoices </title>
</head>

<body>
<%= form_with model: @Invoices, url: 'insert' do |form| %>

  <div class="panel-body">

    <div class="form-group">
      <%= form.label :'UUID:', class: "negrita" %>
      <%= form.text_field :invoice_uuid,  class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :'Emisor:', class: "negrita" %>
      <%= form.text_field :emitter_name,  class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :'RFC Emisor:', class: "negrita" %>
      <%= form.text_field :emitter_rfc,  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :'Receptor:', class: "negrita" %>
      <%= form.text_field :receiver_name,  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :'RFC Receptor:', class: "negrita" %>
      <%= form.text_field :receiver_rfc,  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :'Estatus:', class: "negrita" %>
      <%= form.text_field :status,  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :'Mont:', class: "negrita" %>
      <%= form.text_field :amount,  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :'Emision:', class: "negrita" %>
      <%= form.text_field :emitted_at,  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :'Expira el:', class: "negrita" %>
      <%= form.text_field :expires_at,  class: "form-control" %>
    </div>
       <div class="form-group">
      <%= form.label :'Firmado el:', class: "negrita" %>
      <%= form.text_field :signed_at,  class: "form-control" %>
    </div>

  </div>
  <div class="form-group">
      <%= form.label :'Cfdi:', class: "negrita" %>
      <%= form.text_field :cfdi_digital_stamp,  class: "form-control" %>
    </div>
    <%= form.submit "Guardar", class: "btn btn-info" %>
  <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
  </div>
  </div>
<% end %>


</body>
</html>